@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title{
    
  font-family: Hind;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;;
}
.button{
  width: 168px;
height: 48px;
flex-shrink: 0;
border-radius: 50px;
background: #05297F;
color: #FFF;
font-family: Hind;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 100% */
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
