@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Hind', sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title{
    
  font-family: Hind;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;;
}
/* button in text component */
.button{
  width: 168px;
height: 48px;
flex-shrink: 0;
border-radius: 50px;
background: #05297F;
color: #FFF;
font-family:"Hind, sans-serif"!important;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 100% */

}
.swiper-button-prev {
  color: #c4c4c4!important;
}
.swiper-button-next{
  color: #c4c4c4!important;
}
.swiper-pagination-bullet-active{
  background-color: #FC9D9D !important;
}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
